<h1>Create a New Trip</h1>

<form action="/trips" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="trip[name]" id="trip_name">

  <br></br>


  <input type="submit" value="Create a Trip">
</form>
