<h1>Welcome to Your Trip Planner</h1>

<div class="btn-group">

<form action='/sessions' method="post">
  <h4>Username:
  <input type="text" id="username" name= "username"></h4>
  <h4>Password:
  <input type="password" id="password" name= "password"></h4>
  <button id="submit" type="submit">Log In</button>
</form>

<%= "Must include username and password" if @traveler && @traveler.errors.any? %>

<form action='/travelers/new' method="post">
  <button id="submit" type="submit">Sign Up</button>
</form>
</div>
